.product {
  width: 200px;
  border: 1px solid;
  padding: 4px;
  border-radius: 12px;
  background-color: lightgray;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }

  .title {
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .actions {
    margin-top: 10px;
  }
}
